<% if current_user %>
  <h1>New trek</h1>

  <p>
  <%= form_for Trek.new do |t| %>

    <%= t.label :title, "Title" %>
    <%= t.text_field :title, :required => true %><br/>
    <%= t.label :asset, "File (zip containing GPX and pictures)" %>
    <%= t.file_field :asset, :required => true %><br/>
    <%= t.submit %>
  <% end %>
 </p>



<% end %>
