<!DOCTYPE html>
<html>
  <head>
    <title>Randonnae</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="background-wrap">
    <%= image_tag "/assets/bg.jpg" %>
    </div>
    <div id="container">

      <div id="user_nav">
        <% if current_user %>
          <div id="user_infos">
            <b><%= current_user.name %></b>
            <br/>
            <%= link_to "Sign out", signout_path %>
          </div>
          <div id="user_avatar">
            <%= image_tag current_user.avatarurl if current_user.avatarurl %>
          </div>
        <% else %>
          <b>Sign in using:</b><br/>
          <a href="/auth/osm"><%= image_tag "/assets/osm.png" %></a>
          <a href="/auth/google_oauth2"><%= image_tag "/assets/google.png" %></a>
      <% end %>
    </div>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= content_tag :h1, yield(:title) if show_title? %>

    <%= yield %>
    </div>
  </body>
</html>
